/* .content-container {
    transition: float 0.3s;
} */
/* Start Glopal */
body {
    font-family: 'Tajawal', sans-serif !important;
}
.arabic {
    text-align: right !important;
}
.arabic-dir {
    direction: rtl;
}
ul {
    list-style: none;
}
a {
    text-decoration: none !important;
}
/* End Glopal */